/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #1e2a38, #243b55); /* Ciemniejszy gradient */
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header h1 {
    font-family: 'Verdana', sans-serif;
    font-weight: 700;
    color: #fff;
}

/* Navbar */
nav {
    background-color: #2c3e50;
}

nav .navbar-nav .nav-link {
    color: #f4f4f4;
}

nav .navbar-nav .nav-link:hover {
    color: #ddd;
}

/* Cards */
.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Zwiększony cień */
    transition: transform 0.2s;
    background-color: #2c3e50;
    color: #f4f4f4;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    border-bottom: 1px solid #34495e; /* Dodanie linii pod obrazkiem */
}

/* Kontakt Section */
#kontakt {
    background-color: #1c2a39 !important; /* Ciemniejsze tło sekcji Kontakt */
    color: #f4f4f4 !important; /* Jasny kolor tekstu */
    padding: 50px 0;
    text-align: center;
}

#kontakt h2 {
    color: #f4f4f4 !important;
    margin-bottom: 30px;
}

#kontakt label {
    color: #f4f4f4 !important; /* Jasny kolor dla etykiet */
}

#kontakt .form-control {
    background-color: #2c3e50 !important; /* Ciemniejsze tło dla pól formularza */
    color: #f4f4f4 !important; /* Jasny tekst wewnątrz pól formularza */
    border: 1px solid #2c3e50;
}

#kontakt .form-control::placeholder {
    color: #c1c1c1 !important; /* Jasne teksty placeholdera */
}

#kontakt button[type="submit"] {
    background-color: #34495e !important;
    color: #f4f4f4 !important;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#kontakt button[type="submit"]:hover {
    background-color: #2c3e50 !important;
}

/* Modal */
.modal-content {
    background-color: #34495e;
    color: #f4f4f4;
}

.modal-header {
    border-bottom: 1px solid #2c3e50;
}

.modal-footer {
    border-top: 1px solid #2c3e50;
}

/* Footer */
footer {
    background-color: #2c3e50;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9em;
    color: #f4f4f4;
}

/* Background Animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(270deg, #1e2a38, #243b55); /* Ciemniejszy gradient */
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
